<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
  <listener class-name ="restAssuredUsingGit.extendReportListeners.ExtentReport"/>
</listeners>

  <test thread-count="5" name="Test">
    <classes>
      <class name="restAssuredUsingGit.test.Test1PS"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
